.title
{
	font-family: source-sans-pro-n7, sans-serif;
}

.text1,.text
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u572-4,#u584-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u556-13 > #u556-12:before,#u1033-15,#u541-6,#u549-4,#u570-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

