.title
{
	font-family: source-sans-pro-n7, sans-serif;
}

.text1,.text
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u97-4
{
	font-family: source-sans-pro-n9, sans-serif;
}

#u258-4
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u151-13 > #u151-12:before,#u237-10,#u905-15,#u267-6,#u280-4,#u371-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

